fastapi==0.121.2
numpy
openai==2.8.0
passlib==1.7.4
pgvector==0.4.1
psycopg2==2.9.9
pydantic==2.12.4
pydantic_settings==2.12.0
python-dotenv==1.2.1
python_jose==3.3.0
SQLAlchemy==2.0.27
uvicorn==0.38.0
